body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  
  h1 {
    color: hotpink;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 10px dotted purple;
  }
  
  h2 {
    font-size: 1.5em;
    transition: 1s;
    color:#999999;
  }
  h2:hover{
    color:black;
  }
  .border{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    Background-color: white;
    border-color: rgb(63, 63, 245);
    Background-color: white;
    border-width: 12x;
    border-radius: 12px;
    font-size:24px;
    display:inline-block;
    color:rgb(63, 63, 245)

}
  
  .job-title {
    color: #999999;
    font-weight: bold;
  }
  
  a:link, a:visited {
    color: orange;
  }
  
  a:hover {
    text-decoration: none;
    color: green;
   
  }

 