p { 
    color: white;
}

body{
    background-color: rgb(46, 139, 108) ;
    color: white;
}

.important {
    color:black;
}

.fun{
    border: 5px solid blue;
    padding: 1em;;
}

ul{
 border: 5px solid purple;
 padding: 1em;
}

a:link, a:visited {
  color: #fb6542;
}

a:hover {
  text-decoration: none;
  color: blue;
}