@keyframes rainbow {
    0% {
        border-color: orangered;
        color: orangered;
    }

    10% {
        border-color: orange;
        color:orange;
    }

    20% {
        border-color: yellow;
        color: yellow;
    }

    40% {
        border-color: yellowgreen;
        color: yellowgreen;
    }

    50% {
        border-color: lightseagreen;
        color:lightseagreen;
    }

    60% {
        border-color: blue;
        color:blue;
    }
    70% {
        border-color: blueviolet;
        color:blueviolet;
    }
    80% {
        border-color: violet;
        color:violet;
    }
    90% {
        border-color: rgb(255, 0, 149);
        color:rgb(255, 0, 149);
    }
    100% {
        border-color: red;
        color:red;
    }
}

p {
    color: white;
}

body {
    background-color: rgb(131, 210, 230);
    color: white;
    text-align: center;
}

h1 {
    border-bottom: 5px solid white;
    animation: 10s rainbow infinite;

}

h1:hover {
    font-size: xx-large;
}

.important:hover {
    color: blue;
    font-size: xx-large;
    
}

.important {
    color: black;
    transition: 1s;
}
.cool-button{
    background-color: rgb(63, 63, 245);
    border-radius: 12px;
    color:white;
    border-width: 12x;
    font-size:24px;
    border-color: rgb(63, 63, 245);
    transition: 1s;
    
    
    
}
.cool-button:hover{
    font-size: 24px;
    Background-color: white;
    color:rgb(63, 63, 245);
    border-color: rgb(63, 63, 245);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
.contact-box{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    Background-color: white;
    border-color: rgb(63, 63, 245);
    Background-color: white;
    border-width: 12x;
    border-radius: 12px;
    font-size:24px;
    display:inline-block;
    color:rgb(63, 63, 245)

}
.tight-border{
    display:inline-block;
}

.fun {
    border: 5px solid blue;
    padding: 1em;
    ;
}

ul {
    border: 5px solid black;
    padding: 1em;
}

a:link,
a:visited {
    color: blue;
}

a:hover {
    text-decoration: none;
    color: blue;
    animation: 10s red-blue infinite;
}

.show-hover {
    color: transparent;
    transition: 1s;
}

:hover>.show-hover {
    color: inherit;
    animation: 5s rainbow infinite;
}

.leostyle {
    border: 5px solid whitesmoke;
    padding: 1em;
    transition: 1s;
    animation: 10s rainbow infinite;
}

.leostyle:hover {
    font-size: xx-large;
    border: 10px solid blue;
    padding: 2em;
    color: black;

}

.pulse-size{
    animation:5s pulse infinite;
}
.big{
    color:black;
    transition: 1s;
}
.big:hover{
    font-size: xx-large;
    color:blue;
}



@keyframes red-blue{
    0%{
        color:blue;
    }
    25%{
        color: violet;
    }
    50%{
        color:red;
    }
    75%{
        color:violet
    }
    100%{
        color:blue;
    }
}
@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50%{
      transform: scale(1.25)
    }
    100%{
        transform: scale(1);
    }
    
    }


/* control panel code*/

    /*background color*/

#backgroud-blue:active{
    background-color: blue;
    transform: scale(0.8,0.8);
}

#backgroud-red:active{
    background-color: red;
    transform: scale(0.8,0.8);
}
#backgroud-white:active{
    background-color: white;
    transform: scale(0.8,0.8);
}
#backgroud-black:active{
    background-color: black;
    transform: scale(0.8,0.8);
}

    /*text color*/

#textcolor-blue:active{
    color:blue;
    transform: scale(0.8,0.8);
}
