p { 
    color: black;
}

#hello {
    font-size: larger;
}

.important {
    color:black
}

.fun{
    background-color: blue;
}

#funny{
    font-size: larger;
}

body{
    color:white
  }
body{
    background-color: rgb(41, 116, 106);
}
